/*--------------------------\
         @Imports
\--------------------------*/
/*----------------------------\
       $Variables
 \----------------------------*/
/*----------------------------------\
          @MIXINS
 \---------------------------------*/
/*--------------------------\
      %Place holders
\--------------------------*/
/*--------------------------\
         Media Qery
\--------------------------*/
@media only screen and (min-width: 900px) {
  body .header {
    width: 98vw;
    height: 70px;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .header .overBar {
    z-index: 3;
    width: 100%;
    padding: 0 120px 0 100px;
  }
  body .header .overBar .btn {
    display: block;
  }
  body .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .menu__item {
    margin: 0 10px;
  }
  body .menu__item a {
    color: #2d314d;
  }
  body .container {
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  body .overBar__mobile-menu {
    display: none;
  }
  body .blockHeader {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-image: none;
    overflow: hidden;
  }
  body .blockHeader__img {
    position: absolute;
    z-index: 2;
    width: 41%;
    top: -100px;
    right: -66px;
  }
  body .blockHeader__backgroundImg {
    display: block;
    background-image: url(/images/bg-intro-desktop.svg);
    background-position: calc(50% - -130px) -144px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 741px;
    height: 415px;
  }
  body .blockHeader__data {
    text-align: start;
    margin: auto;
    width: 400px;
  }
  body .blockHeader__data h1 {
    padding: 0;
    padding-top: 60px;
    margin: 0;
  }
  body .blockHeader__data p {
    padding: 20px 0;
    margin: 0;
  }
  body .blockRecomendation {
    /* position: absolute;
      z-index: 2; */
    text-align: start;
    padding: 80px 0;
  }
  body .blockRecomendation__cards {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .card {
    padding: 0 20px;
  }
  body .blockArticles h2 {
    padding-left: 80px;
    text-align: start;
  }
  body .blockArticles__articles {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(320px, 40%))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(320px, 40%));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body footer {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body footer .blockDataFooter__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
  }
  body footer .blockDataFooter__item {
    text-align: start;
    line-height: normal;
  }
  body footer .blockDataFooter__End {
    padding: 20px;
  }
}

@media only screen and (min-width: 1229px) {
  body .blockHeader__backgroundImg {
    top: -196px;
    right: -173px;
  }
  body .blockArticles__articles {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  body .blockArticles__articles__data {
    padding: 0 20px;
  }
}
/*# sourceMappingURL=desktop.css.map */