/*--------------------------\
         @Imports
\--------------------------*/
/*----------------------------\
       $Variables
 \----------------------------*/
/*----------------------------------\
          @MIXINS
 \---------------------------------*/
/*--------------------------\
      %Place holders
\--------------------------*/
/*--------------------------\
         Media Qery
\--------------------------*/
body {
  overflow-x: hidden;
}
@media only screen and (min-width: 900px) {
  body .header {
    width: 100vw;
    height: 70px;
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: space-between;
  }
  body .header .overBar {
    width: 100%;
    padding: 0 120px 0 120px;
  }
  body .header .overBar__mobile-menu {
    display: none;
  }
  body .header .overBar__request {
    display: none;
  }
  body .header .overBar__options {
    display: block;
  }
  body .header .overBar__options .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  body .header .overBar__options .menu__item {
    margin-right: 25px;
  }
  body .header .overBar__options .menu a {
    text-decoration: none;
    color: #9698a6;
    font-size: 1.5rem;
    font-weight: 500;
  }
  body .header .overBar__options .menu a:hover {
    color: #2d314d;
    border-bottom: 3px solid #31d35c;
    padding-bottom: 24px;
    cursor: pointer;
  }
  body .container {
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    width: 100vw;
  }
  body .container__mainContent {
    background-color: #f3f4f6;
  }
  body .container__hero {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  body .container__Articles {
    background-color: #fafafa;
    width: 100%;
    margin: 0 auto;
  }
  body .blockHeader {
    padding: 0;
    text-align: start;
    background-image: none;
    width: 300px;
    height: 400px;
  }
  body .blockHeader__img {
    position: absolute;
    z-index: 2;
    width: calc(75% - 100px);
    top: calc(50% - 29vw);
    right: calc(50% - 59vw);
  }
  body .blockHeader__backgroundImg {
    display: block;
    position: absolute;
    width: calc(100% - 100px);
    right: calc(100% - 105vw);
    top: calc(50% - 34vw);
  }
  body .blockHeader__data {
    display: inline;
    position: static;
    text-align: start;
    width: 400px;
    height: 300px;
    width: 400px;
  }
  body .blockHeader__data h1 {
    padding: 0;
    padding-top: 60px;
    margin: 0;
  }
  body .blockHeader__data p {
    padding: 20px 0;
    margin: 0;
  }
  body .blockRecomendation {
    margin: 0 auto;
    width: 80%;
    text-align: start;
    padding-top: 10em;
  }
  body .blockRecomendation__data {
    padding: 0;
    width: 70%;
  }
  body .blockRecomendation__data h2 {
    font-size: 3.2rem;
    margin-bottom: 0.8em;
  }
  body .blockRecomendation__cards {
    padding: 0;
    width: 90vw;
    margin: 0 auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
  body .blockRecomendation .card {
    width: 70%;
    padding: 0;
  }
  body .blockRecomendation .card img {
    margin-bottom: 3.2rem;
  }
  body .blockArticles {
    width: 90%;
    margin: 0 auto;
    padding-top: 9em;
    padding-bottom: 8em;
  }
  body .blockArticles h2 {
    padding-left: 57px;
    text-align: start;
    font-size: 3.2rem;
  }
  body .blockArticles__articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 40%));
    gap: 40px;
    justify-content: center;
  }
  body .blockArticles__articles .articleBox__data h3 {
    padding-top: 0.5em;
  }
  body .blockArticles__articles .articleBox__data p {
    font-size: 1.3em;
  }
  body footer {
    width: 100%;
  }
  body footer .footer__container {
    width: 80%;
    margin: 0 auto;
    padding: 3em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  body footer .footer__container .blockSocial__logo {
    padding: 0 0 50px 0;
  }
  body footer .footer__container .blockSocial__socialMedia {
    justify-content: space-between;
  }
  body footer .footer__container .blockSocial__socialMedia img {
    cursor: pointer;
  }
  body footer .footer__container .blockDataFooter__container {
    display: flex;
    gap: 40px;
  }
  body footer .footer__container .blockDataFooter__item {
    text-align: start;
    line-height: normal;
    cursor: pointer;
  }
  body footer .footer__container .blockDataFooter__legend:nth-child(1) {
    position: relative;
    left: 30px;
  }
  body footer .footer__container .blockDataFooter__legend:nth-child(2) {
    font-size: 1.5rem;
    padding-top: 1em;
  }
}
@media only screen and (min-width: 900px) and (min-width: 1227px) {
  body .header .overBar__request {
    display: block;
  }
  body .blockRecomendation__data {
    width: 60%;
  }
  body .blockRecomendation__cards {
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 25%);
  }
  body .blockRecomendation__cards .card {
    width: 94%;
    padding-right: 20px;
  }
  body .blockHeader {
    width: 350px;
  }
  body .blockHeader__img {
    width: calc(69% - 100px);
    top: calc(50% - 23vw);
    right: calc(50% - 57vw);
  }
  body .blockHeader__backgroundImg {
    width: calc(100% - 100px);
    right: calc(100% - 105vw);
    top: calc(50% - 29vw);
  }
  body .container__hero {
    margin-bottom: 151px;
  }
  body .blockArticles__articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
  }
  body .blockArticles__articles__data {
    padding: 0 120px;
  }
}

/*# sourceMappingURL=desktop.css.map */
