/*--------------------------\
         @Imports
\--------------------------*/
/*----------------------------\
       $Variables
 \----------------------------*/
/*----------------------------------\
          @MIXINS
 \---------------------------------*/
/*--------------------------\
      %Place holders
\--------------------------*/
button {
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  padding: 1em 2em;
  border: none;
  color: #f3f4f6;
  font-weight: 500;
  font-size: 1.5rem;
  background: linear-gradient(0.25turn, #31d35c, #2bb7da);
  transition: all 0.5s;
}
button:hover {
  opacity: 0.5;
}

.blockArticles h2, .blockRecomendation h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.6rem;
}

.blockArticles__articles .articleBox__data h3, .blockRecomendation__cards h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6rem;
}

.blockRecomendation__cards p, .blockRecomendation p, .blockHeader__data p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.3rem;
}

header {
  position: fixed;
  width: 100vw;
  height: 50px;
  background: white;
  z-index: 10;
}
header .overBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
}
header .overBar__request {
  display: none;
}
header .overBar__title {
  padding: 0 1em;
}
header .overBar__mobile-menu {
  padding: 0 2em;
}
header .overBar__mobile-menu .lbl-menu .spn1, header .overBar__mobile-menu .spn2, header .overBar__mobile-menu .spn3 {
  position: relative;
  background: #2d314d;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  transition: all 500ms ease;
}
header .overBar__mobile-menu .spn2 {
  margin: 5px 0;
}
header .overBar__options .menu {
  display: none;
  transition: all 500ms ease;
}
header .overBar .check {
  display: none;
}
header .overBar .check:checked ~ .overBar__options .menu {
  display: block;
  position: absolute;
  padding: 2em;
  height: 100vh;
  top: 100%;
  left: 0;
  right: 0;
  list-style: none;
  text-align: center;
  background: linear-gradient(to bottom, rgba(45, 49, 77, 0.8), rgba(255, 255, 255, 0.5));
}
header .overBar .check:checked ~ .overBar__options .menu__item {
  padding: 2em 1em;
  background: white;
}
header .overBar .check:checked ~ .overBar__options .menu__item:first-child {
  border-radius: 10px 10px 0 0;
}
header .overBar .check:checked ~ .overBar__options .menu__item:last-child {
  border-radius: 0 0 10px 10px;
}
header .overBar .check:checked ~ .overBar__options .menu__item a {
  text-decoration: none;
  color: #2d314d;
  font-size: 1.5rem;
  font-weight: 400;
}
header .overBar .check:checked ~ .overBar__options .menu__item a:after {
  color: pink;
}
header .overBar .check:checked ~ .overBar__mobile-menu .lbl-menu .spn1 {
  transform: rotate(140deg);
  top: 5px;
}
header .overBar .check:checked ~ .overBar__mobile-menu .lbl-menu .spn2 {
  opacity: 0;
}
header .overBar .check:checked ~ .overBar__mobile-menu .lbl-menu .spn3 {
  transform: rotate(-140deg);
  top: -11px;
}

.blockHeader {
  background-image: url(/images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 1em;
  padding-right: 1em;
}
.blockHeader__img {
  width: 100%;
  margin: 0 auto;
  position: relative;
  bottom: 80px;
}
.blockHeader__data {
  margin: auto;
  text-align: center;
  position: relative;
  bottom: 50px;
}
.blockHeader__data h1 {
  padding: 0 1em;
  margin-bottom: 0.5em;
  font-size: 3.5rem;
  font-weight: 500;
}
.blockHeader__data p {
  padding: 0 1em;
  margin: 1em 0 2em 0;
}

.blockRecomendation {
  width: 100%;
  height: auto;
  background-color: #f3f4f6;
  padding: 6em 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.blockRecomendation__data {
  padding: 0 3em;
  margin-bottom: 3em;
}
.blockRecomendation h2 {
  margin-bottom: 1em;
}
.blockRecomendation__cards {
  padding: 0 3em;
}
.blockRecomendation__cards img {
  margin-bottom: 0.5em;
  height: 70px;
  width: 70px;
}
.blockRecomendation__cards h3 {
  margin-bottom: 1em;
}
.blockRecomendation__cards p {
  margin-bottom: 1.5em;
}

/*----------------------------------\
          _ARTICLES
 \---------------------------------*/
.blockArticles {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  padding: 4em 0;
  text-align: center;
}
.blockArticles h2 {
  margin-bottom: 1em;
}
.blockArticles__articles {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.blockArticles__articles .articleBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  text-align: start;
}
.blockArticles__articles .articleBox .articleImg {
  width: 100%;
  max-width: 720px;
  height: auto;
  padding: 1em 0;
  margin: 0 auto;
}
.blockArticles__articles .articleBox .articleImg img {
  width: 100%;
  height: 200px;
}
.blockArticles__articles .articleBox__data {
  padding: 0 2em;
}
.blockArticles__articles .articleBox__data i {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2.3rem;
  padding-bottom: 0.5rem;
}
.blockArticles__articles .articleBox__data h3 {
  padding-bottom: 1rem;
}
.blockArticles__articles .articleBox__data p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.3rem;
}

/*--------------------------\
           Global
\--------------------------*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Public Sans", Sans-serif;
  font-size: 65.5%;
}

h1, h2, h3, h4 {
  color: #2d314d;
}

p, span, i {
  color: #9698a6;
}

/*# sourceMappingURL=main.css.map */
