/*--------------------------\
         @Imports
\--------------------------*/
/*----------------------------\
       $Variables
 \----------------------------*/
/*----------------------------------\
          @MIXINS
 \---------------------------------*/
/*--------------------------\
      %Place holders
\--------------------------*/
button {
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  padding: 1em 2em;
  border: none;
  color: #f3f4f6;
  font-weight: 500;
  font-size: 1.5em;
  background: linear-gradient(0.25turn, #31d35c, #2bb7da);
  transition: all 0.5s;
}
button:hover {
  opacity: 0.5;
}

.blockArticles h2, .blockRecomendation h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.6rem;
}

.blockArticles__articles .articleBox__data h3, .blockRecomendation__cards h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6rem;
}

.blockRecomendation__cards p, .blockRecomendation p, .blockHeader__data p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.3rem;
}

header {
  position: fixed;
  width: 100vw;
  height: 50px;
  background: white;
  z-index: 10;
}
header .overBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
}
header .overBar__request {
  display: none;
}
header .overBar__title {
  padding: 0 1em;
}
header .overBar__mobile-menu {
  padding: 0 2em;
}
header .overBar__mobile-menu .hamburguer {
  display: none;
}

.menu {
  display: none;
  list-style: none;
}

@media screen and (min-width: 1024px) {
  header {
    height: auto;
    position: sticky;
  }
  header .overBar {
    max-width: 1024px;
    margin: auto;
  }
  header .overBar .menu {
    display: flex;
  }
  header .overBar .menu__item a {
    color: #9698a6;
    font-size: 1.4em;
    text-decoration: none;
    padding: 0 1em;
  }
  header .overBar .menu__item a:hover {
    padding-bottom: 30px;
    border-bottom: 3px solid linear-gradient(0.25turn, #31d35c, #2bb7da);
  }
  header .overBar__request {
    display: block;
  }
  header .overBar__mobile-menu {
    display: none;
  }
}
.blockHeader {
  background-image: url(/images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 1em;
  padding-right: 1em;
}
.blockHeader__img {
  width: 100%;
  margin: 0 auto;
  position: relative;
  bottom: 80px;
}
.blockHeader__data {
  margin: auto;
  text-align: center;
  position: relative;
  bottom: 50px;
}
.blockHeader__data h1 {
  padding: 0 1em;
  margin-bottom: 0.5em;
  font-size: 3.5rem;
  font-weight: 500;
}
.blockHeader__data p {
  padding: 0 1em;
  margin: 1em 0 2em 0;
}

@media screen and (min-width: 1024px) {
  .blockHeader {
    height: 550px;
    display: flex;
    flex-direction: row-reverse;
    background-color: #fafafa;
    background-image: url(/images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position-x: 550px;
    background-position-y: -250px;
  }
  .blockHeader__img {
    width: auto;
    zoom: 3;
  }
  .blockHeader__data {
    width: 40%;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.blockRecomendation {
  width: 100%;
  height: auto;
  background-color: #f3f4f6;
  padding: 6em 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.blockRecomendation__data {
  padding: 0 3em;
  margin-bottom: 3em;
}
.blockRecomendation h2 {
  margin-bottom: 1em;
}
.blockRecomendation__cards {
  padding: 0 3em;
}
.blockRecomendation__cards img {
  margin-bottom: 0.5em;
  height: 70px;
  width: 70px;
}
.blockRecomendation__cards h3 {
  margin-bottom: 1em;
}
.blockRecomendation__cards p {
  margin-bottom: 1.5em;
}

/*----------------------------------\
          _ARTICLES
 \---------------------------------*/
.blockArticles {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  padding: 4em 0;
  text-align: center;
}
.blockArticles h2 {
  margin-bottom: 1em;
}
.blockArticles__articles {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.blockArticles__articles .articleBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  text-align: start;
}
.blockArticles__articles .articleBox .articleImg {
  width: 100%;
  max-width: 720px;
  height: auto;
  padding: 1em 0;
  margin: 0 auto;
}
.blockArticles__articles .articleBox .articleImg img {
  width: 100%;
  height: 200px;
}
.blockArticles__articles .articleBox__data {
  padding: 0 2em;
}
.blockArticles__articles .articleBox__data i {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2.3rem;
  padding-bottom: 0.5rem;
}
.blockArticles__articles .articleBox__data h3 {
  padding-bottom: 1rem;
}
.blockArticles__articles .articleBox__data p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.3rem;
}

/*--------------------------\
           Global
\--------------------------*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Public Sans", Sans-serif;
  font-size: 65.5%;
}

h1, h2, h3, h4 {
  color: #2d314d;
}

p, span, i {
  color: #9698a6;
}

/*# sourceMappingURL=main.css.map */
