/*--------------------------\
         @Imports
\--------------------------*/
//Lib
@import "lib/variables";
@import "lib/mixins";
@import "lib/place-holders";

/*--------------------------\
         Media Qery
\--------------------------*/
body {
  overflow-x: hidden;
  @include respond-to(900px) {
    //HEADER
    .header {
      width: 100vw;
      height: 70px;
      position: relative;
      z-index: 4;
      display: flex;
      justify-content: space-between;
      .overBar {
        width: 100%;
        padding: 0 120px 0 120px;
        &__mobile-menu {
          display: none;
        }
        &__request {
          display: none;
        }
        &__options {
          display: block;
          .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            &__item {
              margin-right: 25px;
            }
            a {
              text-decoration: none;
              color: $GrayishBlue;
              font-size: $p-size;
              font-weight: $fontBold;
              &:hover {
                color: $DarkBlue;
                border-bottom: 3px solid $LimeGreen;
                padding-bottom: 24px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    //MAIN
    .container {
      overflow-x: hidden;
      position: relative;
      z-index: 1;
      width: 100vw;
      background-color: $VeryLightGray;
      &__mainContent {
        background-color: $LightGrayishBlue;
        // padding-top: 3em;
      }
      &__hero {
        width: 80%;
        margin: 0 auto;
        position: relative;
      }
      &__Articles {
        background-color: $VeryLightGray;
        width: 100%;
        margin: 0 auto;
      }
    }

    // for hero
    .blockHeader {
      padding: 0;
      text-align: start;
      background-image: none;
      width: 300px;
      height: 400px;
      &__img {
        position: absolute;
        z-index: 2;
        width: calc(75% - 100px);
        top: calc(50% - 29vw);
        right: calc(50% - 59vw);
      }
      &__backgroundImg {
        display: block;
        position: absolute;
        width: calc(100% - 100px);
        right: calc(100% - 105vw);
        top: calc(50% - 34vw);
      }
      &__data {
        display: inline;
        position: static;
        text-align: start;
        width: 400px;
        height: 300px;

        width: 400px;
        h1 {
          padding: 0;
          padding-top: 60px;
          margin: 0;
        }
        p {
          padding: 20px 0;
          margin: 0;
        }
      }
    }
    // for section of recomendations
    .blockRecomendation {
      margin: 0 auto;
      width: 80%;
      text-align: start;
      padding-top: 10em;
      &__data {
        padding: 0;
        width: 70%;
        h2 {
          font-size: 3.2rem;
          margin-bottom: 0.8em;
        }
      }
      &__cards {
        padding: 0;
        width: 90vw;
        margin: 0 auto;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
      }
      .card {
        width: 70%;
        padding: 0;
        img {
          margin-bottom: 3.2rem;
        }
      }
    }
    // for section of articles
    .blockArticles {
      width: 90%;
      margin: 0 auto;
      padding-top: 9em;
      padding-bottom: 8em;
      h2 {
        padding-left: 57px;
        text-align: start;
        font-size: 3.2rem;
      }
      &__articles {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 40%));
        gap: 40px;
        justify-content: center;
        .articleBox__data {
          h3 {
            padding-top: 0.5em;
          }
          p {
            font-size: 1.3em;
          }
        }
      }
    }
    // for footer
    footer {
      width: 100%;
      .footer__container {
        width: 80%;
        margin: 0 auto;
        padding: 3em 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .blockSocial {
          &__logo {
            padding: 0 0 50px 0;
          }
          &__socialMedia {
            justify-content: space-between;
            img{
            cursor: pointer;
          }
          }
        }
        .blockDataFooter {
          &__container {
            display: flex;
            gap: 40px;
          }
          &__item {
            text-align: start;
            line-height: normal;
            cursor: pointer;
          }
          &__legend:nth-child(1) {
            position: relative;
            left: 30px;
          }
          &__legend:nth-child(2) {
            font-size: $p-size;
            padding-top: 1em;
          }
      }
    }
  }

  // breakpoint__2
  @include respond-to(1227px) {
    // for header
    .header {
      .overBar {
        &__request {
          display: block;
        }
      }
    }
    // for recomendations
    .blockRecomendation {
      &__data {
        width: 60%;
      }
      &__cards {
        width: 100%;
        margin: 20px auto;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        .card {
          width: 94%;
          padding-right: 20px;
        }
      }
    }
    // for header
    .blockHeader {
      width: 350px;
      &__img {
        width: calc(69% - 100px);
        top: calc(50% - 23vw);
        right: calc(50% - 57vw);
      }
      &__backgroundImg {
        width: calc(100% - 100px);
        right: calc(100% - 105vw);
        top: calc(50% - 29vw);
      }
    }
    // for hero
    .container__hero {
      margin-bottom: 151px;
    }
    // for articles
    .blockArticles {
      &__articles {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
        &__data {
          padding: 0 120px;
        }
      }
    }
  }
}
}
