/*--------------------------\
         @Imports
\--------------------------*/
@import './lib/variables';
@import './lib/mixins';
@import './lib/place-holders';
//Layout
@import './layout/header';
@import './layout/blockHeader';
@import './layout/recomendation';
@import './layout/articles';
@import './layout/footer';

/*--------------------------\
           Global
\--------------------------*/
  * {
    margin: 0;
    padding: 0;
  }
  
  html {
  font-family: $baseFont;
  font-size: 65.5%
  }

  button {
  @extend %button-styles;  
  }

h1, h2, h3, h4 {
  color: $DarkBlue;
}

p, span, i {
  color: $GrayishBlue;
}

