.blockHeader {
    background-image: url(/images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 1em;
    padding-right: 1em;
    &__img {
        width: 100%;
        margin: 0 auto;
        position: relative;
        bottom: 80px;
    }
    &__data {
        margin: auto;
        text-align: center;
        position: relative;
        bottom: 50px;
        h1 {
            padding: 0 1em;
            margin-bottom: 0.5em;
            font-size: $h1-size;
            font-weight: $fontBold;
        }
        p {
            padding: 0 1em;
            margin: 1em 0 2em 0;
            @extend %p-text;
        }
    }
}

@media screen and (min-width: 1024px) {
    .blockHeader{
        height: 550px;
        display: flex;
        flex-direction: row-reverse;
        background-color: $VeryLightGray;
        background-image: url(/images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-size: 1200px;
        background-position-x: 550px;
        background-position-y: -250px;
        &__img {
            width: auto;
            zoom: 3;
        }
        &__data {
            width: 40%;
            grid-column: 1/2;
            grid-row: 1/2;
        }
    }
}


