header{
position: fixed;
width: 100vw;
height: 50px;
background: $white;
z-index: 100;

.overBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0;
    &__request {
        display: none;
    }
    &__title {
      padding: 0 3em;
    }
    &__mobile-menu {
        padding: 0 3em;
        .lbl-menu .spn1, .spn2, .spn3{
            position: relative;
            background: $DarkBlueO;
            width: 30px;
            height: 3px;
            border-radius: 5px;
            transition: all 500ms ease;
        }
        .spn2{
            margin: 5px 0;
        }
    }
    &__options .menu{
        display: none;
        animation-duration: 500ms;
        animation-name: desplace-top;
        @keyframes desplace-top {
         from {
          top: -100%;
          opacity: 0;
         }
         to {
          top: 103%;
          opacity: 1;
         }
      }
    }

    .check{
        display: none;
        &:checked {
            & ~ .overBar__options .menu {
                display: block;
                position: absolute;
                padding: 2em;
                height: 100vh;
                top: 100%;
                left: 0;
                right: 0;
                list-style: none;
                text-align: center;
                background: linear-gradient(to bottom, $DarkBlueO, $whiteO);
                &__item {
                    padding: 2em 1em;
                    background: $white;
                    border: none;
                    &:first-child {
                        border-radius: 10px 10px 0 0;
                    }
                    &:last-child {
                        border-radius: 0 0 10px 10px;
                    }
                    a {
                        text-decoration: none;
                        color: $DarkBlue;
                        font-size: $p-size;
                        font-weight: $fontMedium;
                    }
                }
            }
            & ~ .overBar__mobile-menu .lbl-menu {
                .spn1 {
                    transform: rotate(140deg);
                    top: 5px;
                }
                .spn2 {
                    opacity: 0;
                }
                .spn3 {
                    transform: rotate(-140deg);
                    top: -11px;
                }
            }
        }
    }
  }
}
