.header {
  position: fixed;
  width: 100vw;
  height: 50px;
  z-index: 10;
  .overBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0;
    background: $white;
    .btn {
      display: none;
    }
    &__title {
      padding: 0 1em;
    }
    &__mobile-menu {
      .open {
        display: block;
        padding: 0 1em;
      }
      .close {
        display: none;
      }
    }
  }
}
.menu {
  display: none;
  list-style: none;
  &__item a {
    text-decoration: none;
    @extend %h3-text;
  }
}
